<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>453937903261-vn64m0traf7fms71ib1ue6lse9n2puvj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.453937903261-vn64m0traf7fms71ib1ue6lse9n2puvj</string>
	<key>API_KEY</key>
	<string>AIzaSyD7u2_NX_5PRAMg8RTplm-I5q5ChulsjGM</string>
	<key>GCM_SENDER_ID</key>
	<string>453937903261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wgoweb.My-PIA-Lessons</string>
	<key>PROJECT_ID</key>
	<string>my-pia-lessons</string>
	<key>STORAGE_BUCKET</key>
	<string>my-pia-lessons.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:453937903261:ios:3b40f880c6308c347d0674</string>
	<key>DATABASE_URL</key>
	<string>https://my-pia-lessons.firebaseio.com</string>
</dict>
</plist>